day_wise_averages/dayavg_zmla_Eday_INM-CM4-8.nc
day_wise_averages/dayavg_zmla_Eday_INM-CM5-0.nc
day_wise_averages/dayavg_zmla_Eday_IPSL-CM6A-LR.nc
day_wise_averages/dayavg_zmla_Eday_MIROC-ES2L.nc
INM-CM4-8/zmla_Eday_INM-CM4-8_amip_r1i1p1f1_gr1_19790101-19881231.nc
INM-CM4-8/zmla_Eday_INM-CM4-8_amip_r1i1p1f1_gr1_19890101-19981231.nc
INM-CM4-8/zmla_Eday_INM-CM4-8_amip_r1i1p1f1_gr1_19990101-20081231.nc
INM-CM4-8/zmla_Eday_INM-CM4-8_amip_r1i1p1f1_gr1_20090101-20141231.nc
